[submodule "deps/makeself"]
	path = deps/makeself
	url = https://github.com/megastep/makeself.git
[submodule "deps/libbsd"]
	path = deps/libbsd
	url = https://anongit.freedesktop.org/git/libbsd.git
[submodule "deps/musl"]
	path = deps/musl
	url = https://github.com/bminor/musl.git
[submodule "deps/linux-headers"]
	path = deps/linux-headers
	url = https://github.com/sabotage-linux/kernel-headers.git
